body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 15px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
#main-title {
    text-align: center;
    color: darkblue;
}

.info {
    color: #333;
    font-size: 18px;
}

.box {
    border: 2px solid #444;
    padding: 20px;
    margin: 20px;
    background-color: white;
}
.container {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.card {
    border: 2px solid #333;
    padding: 20px;
    width: 120px;
    text-align: center;
    background-color: #f9f9f9;
}

